﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Canvas OAuth2 Workflow Example</h2>
    <p class="lead">Refer to documentation here for details on the goals of this project:</p>
    <p><a href="https://canvas.instructure.com/doc/api/file.oauth.html" target="_blank" class="btn btn-primary btn-lg">Canvas API Docs - OAuth2 Workflow</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>
			  Validate the LTI launch request and redirect back to Canvas to allow user to authorize access on their behalf.
        </p>
        <p><a class="btn btn-default" href="https://canvas.instructure.com/doc/api/file.oauth.html#oauth2-flow-1" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>The user clicks the "Authorize" button and Canvsa redirects back to your application</p>
        <p><a class="btn btn-default" href="https://canvas.instructure.com/doc/api/file.oauth.html#oauth2-flow-2" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>Request an access token and execute API calls on behalf of the user.</p>
        <p><a class="btn btn-default" href="https://canvas.instructure.com/doc/api/file.oauth.html#oauth2-flow-3" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Refresh Tokens</h2>
		<p>
			Understand the behavior of constantly requesting access tokens, why it's important to use the refresh token or delet the access token.
		</p>
		<p><a class="btn btn-default" href="https://canvas.instructure.com/doc/api/file.oauth.html#using-refresh-tokens" target="_blank">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Storing Tokens</h2>
		<p>Storing access tokens: refresh or logout?</p>
		<p><a class="btn btn-default" href="https://canvas.instructure.com/doc/api/file.oauth.html#storing-access-tokens" target="_blank">Learn more &raquo;</a></p>
	</div>
</div>