﻿@model oauth2Test.Models.resultModel

@{
    ViewBag.Title = "Response";
}

<h2>@Model.title</h2>

<div>
	<hr />
	<p>
		@Model.message<br />
		<a href=@Model.link target="_blank">@Model.linkTitle</a>
	</p>
</div>
